<div class="container">
    <h1 class="m-0">Modification Information (titre et extrait)</h1>
    <form (ngSubmit) ="save()">
        <p>
            <label for="titre">Titre</label>
            <textarea name="titre" id="titre" cols="30" rows="2" class="form-control" (ngModel)="info.titre" >{{ info.titre}}</textarea>
        </p>
        <p>
            <label for="extrait">Extrait</label>
            <textarea name="extrait" id="extrait" cols="30" (ngModel)="info.description" rows="4" class="form-control">{{info.description}}</textarea>
        </p>
        <button class="btn col-1 mx-auto btn-primary btn-md">Modifier</button>
    </form>
</div>